
@{
    ViewBag.Title = "K. Murat Baseren Hakkinda";
}

<div class="row">
    <div class="col-md-12">
        <h2>K. Murat Baseren Hakkinda</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Assets/img/murat-baseren.jpg" class="img-thumbnail img-fluid" alt="K. Murat Baseren" />
    </div>
    <div class="col-md-8 mb-5">
        <div><p class="text-justify">I am Software Technology Consultant, Senior Software Developer, MCP and Instructor as living in Istanbul, Turkey.. I believe in science and technology. I am a person who can not do without the coffee. I love to life with enjoy, I see it as a feature that adds meaning to life, sharing learning and learning continuously.</p></div>
        <div class="text-right">
            <a href="https://about.me/KadirMuratBaseren" target="_blank" class="btn btn-primary">
                <i class="fa fa-info-circle"></i> K. Murat Baseren Hakkinda ve Erisim Kanallari
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mt-2 mb-4">
        <hr class="mt-4" />
        <blockquote class="blockquote text-center">
            <h1 class="">YouTube kanalima uye olarak yazilim hakkinda faydali ipucu videolarina ulasabilirsiniz.</h1>
            <div class="text-center my-4">
                <a class="btn btn-primary" href="https://www.youtube.com/kadirmuratbaseren" target="_blank">
                    <i class="fa fa-youtube"></i> Murat Baseren YouTube Kanali
                </a>
            </div>
        </blockquote>
        <hr class="mb-lg-4" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="text-muted text-center">Uygulamali Modern <br />Web Gelistirme Kursu</h5>
                        <hr />
                        <iframe class="img-fluid" width="100%" style="height:387px;" src="https://www.youtube.com/embed/U12R1f8AdqI?start=3" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <h5 class="text-muted text-center">ASP.NET MVC Yazilimcilarin Yukselisi</h5>
                            <hr />
                            <iframe class="img-fluid" src="https://www.youtube.com/embed/HkfwewWu-Ac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <h5 class="text-muted text-center">ASP.NET MVC 5 ile Grid.MVC Kullanimi</h5>
                            <hr />
                            <iframe class="img-fluid" src="https://www.youtube.com/embed/PIj6yEm8yD8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <h5 class="text-muted text-center">ASP.NET WEB API Yazilimcilarin Bagimsizligi</h5>
                            <hr />
                            <iframe class="img-fluid" src="https://www.youtube.com/embed/HcZvMDD4VLA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <h5 class="text-muted text-center">Visual Studio ile C# Programlama</h5>
                            <hr />
                            <iframe class="img-fluid" src="https://www.youtube.com/embed/q7fX2VHI1Nk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-md-12 text-right">
                        <a href="https://muratbaseren.wordpress.com/udemy-egitimlerim/" target="_blank" class="btn btn-primary">
                            <i class="fa fa-link"></i> Tum Kurslarim
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mt-2 mb-4">
        <hr class="mt-4" />
        <blockquote class="blockquote text-center">
            <h1 class="">Udemy sayfamdan tum udemy egitimlerime ulasabilirsiniz. Kampanyalar icin blogumdaki paylasimlarimi takip ediniz.</h1>
            <div class="text-center my-4">
                <a class="btn btn-primary" href="https://www.udemy.com/user/kadirmuratbaeren/" target="_blank">
                    <i class="fa fa-external-link"></i> Murat Baseren Udemy Egitimleri
                </a>
            </div>
        </blockquote>
        <hr class="mb-lg-4" />
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <img src="~/Assets/img/murat-baseren-udemy.png" class="img-thumbnail img-fluid" />
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        $("nav form button").attr("disabled", "disabled");
    });
</script>