
@{
    ViewBag.Title = "Index";
}

<h2>ASP.NET MVC CodeFirst Sample App</h2>
<hr />
<p>
    <div class="alert alert-warning"><i>Use menu for sample pages.</i></div>
</p>
<div class="well">
    You can use below line codes for <b>Automatic Migration</b>.<br /><br />
    Write to <b>Package Manager Console</b><br />
    <ol>
        <li>Enable-Migrations -EnableAutomaticMigrations</li>
        <li>Update-Database</li>
    </ol>
</div>

